

<h1><%= t('.title') %></h1>

<%= link_to t('.new_railway_station'), new_admin_railway_station_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.table.title.name') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'railway_station', collection: @railway_stations %>
  </tbody>
</table>

<br>
