<h1><%= t('.title') %></h1>

<%= link_to t('.new_route'), new_admin_route_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.table.title.name') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @routes %>
  </tbody>
</table>

<br>
