<p id="notice"><%= notice %></p>

<h1>Carriages</h1>

<%= link_to 'New Carriage', new_carriage_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Train Number</th>
      <th>Carriage Number</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'carriages/carriage', collection: @carriages, as: :carriage %>
  </tbody>
</table>

<br>
