<tr>
  <td><%= carriage_type.name %></td>
  <td><%= link_to 'Show', carriage_type %></td>
  <td><%= link_to 'Edit', edit_carriage_type_path(route) %></td>
  <td><%= link_to 'Destroy', carriage_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
