<%= link_to 'Edit', edit_carriage_type_path(@carriage_type) %> |
<%= link_to 'Back', carriage_types_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @carriage_type.name %>
</p>
