<h1><%= t('.title') %></h1>

<%= link_to t('.new_train'), new_admin_train_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.table.title.number') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'train', collection: @trains %>
  </tbody>
</table>

<br>
