<header>
  <nav>
    <ul class="nav">
       <li><%= link_to "Home", root_path %></li>
       <li><%= link_to "Search", search_path %></li>
       <li><%= link_to "Tickets", tickets_path %></li>
       <li><%= render 'common/log_in_log_out' %></li>
    </ul>
  </nav>
</header>
