<header>
  <%= render 'common/user_name' %>
  <nav>
    <ul class="nav">
      <li><%= link_to t(".search"), search_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to t(".tickets"), tickets_path %></li>
      <% end %>
      <li><%= render 'common/log_in_log_out' %></li>
    </ul>
  </nav>
</header>
