<p><%= t("common.user_name.hello") %>, <%= @user.name %>!</p>

<p>Вы только что отменили заказ билета <%= @ticket.route_name %></p>

<p>Ваши билеты вы можете посмотреть <%= link_to "здесь", tickets_url %></p>
